.home-view{
  width: auto;
  height: auto;
  background-color: #fcfcfc;

}

.hacker-news {
  width: 208px;
  height: 28px;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.rectangle {
  width: auto;
  height: auto;
  margin: 0 0 0 0;
  padding: 44px 1082px 42px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.content {
  display: inline-block;
  text-align: center;
}

.content-all {
  margin: 0;
  display: inline-block;
  text-align: center;
}

.rectangle-news {
  display: inline-block;
  width: 490px;
  height: 80px;
  margin: 20px 20px 20px 20px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  text-align: justify;
}
.content-all:hover {
  opacity: 0.5;
  cursor: pointer;
}
.section-info {
  display: inline-block;
  width: 390px;
}

.rectangle-fav {
  float: right;
  display: block;
  width: 12%;
  height: 79px;
  border-radius: 0px 6px 6px 0;
  border: solid 1px #2f2d2d15;
  background-color: #2f2d2d15;
  border-top-style: none;
}


 .new-title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

 .time {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}

img.iconmonstr-time-2 {
  width: 16px;
  height: 16px;
  margin: 10px 4px 6px 0;
  object-fit: contain;
  margin-bottom: auto;
  vertical-align: bottom;
}

img.iconmonstr-favorite-2 {
  margin-top: 30%;
  width: 100%;
  height: 40%;
  object-fit: contain;
  opacity: 1 !important;
}

.pagination {
  position:fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px 10px;
  margin: 0;
  list-style: none;
}
.pagination a{
  width: 32px;
  height: 32px;
  margin: 0 8px;
  padding: 6px 12px 4px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: #fff;
  color: #767676;
}

.pagination a:hover{
  border-color: #1890ff;
  color: #767676;
  cursor: pointer;
}

.active-page a{
  background-color: #1890ff !important;
  color: #fff;
}

.filter {
  width: 240px;
  height: 32px;
  margin: 50px 50px 50px 225px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}
img.Image-138 {
  width: 24px;
  height: 24px;
  margin: 1px 13px 62px 0;
  object-fit: contain;
}
img.Image-140 {
  width: 24px;
  height: 24px;
  margin: 6px 13px 0 0;
  object-fit: contain;
}
img.Image-141 {
  width: 24px;
  height: 24px;
  margin: 63px 13px 0 0;
  object-fit: contain;
}

.filter-component li{
  display: inline-block;
  width: 98px;
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}
.filter-component :hover{
  border-color: #1890ff;
  color: #1890ff;
  cursor: pointer;
}

.filter-component{
  margin-top: 50px;
}

.search-form{
  text-align: left;
}